$theme-colors: (
    "light": #ded4d4,
    "nav": #ddd3d2
);
#BotonAgregarAlCarrito {
    background-color: #ded4d4;
}

.AppContainer { 
    background: #832c1b; 
    min-height: 100vh;
}

.ProductGridContainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    align-content: center;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 340px;
}

.ProductPageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    align-content: center;
    justify-content: center;
}



@import "~bootstrap/scss/bootstrap";
