$theme-colors: (
    "primary": #832c1b,
    "light": #ded4d4,
    "nav": #ddd3d2
);

.AppContainer { 
    background: #832c1b; 
    min-height: 100vh; 
}

.ProductGridContainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 400;
}

@import "~bootstrap/scss/bootstrap";
