$theme-colors: (
    "light": #ded4d4,
    "nav": #ddd3d2
);

#BotonAgregarAlCarrito {
    background-color: #ded4d4;
}

#BotonEliminarProducto {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#BotonPagarProductos {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.AppContainer {
    background: #832c1b;
    min-height: 100vh;
}

.ProductGridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    align-content: center;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 340px;
}

.ProductPageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    align-content: center;
    justify-content: center;
}

.ProductTableContainer {
    display: flex;
    align-content: center;
    background-color: #ded4d4;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.CartFooter {
    display: flex;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.PurchaseContainer {
    margin-top: 50px;
}



@import "~bootstrap/scss/bootstrap";
